header.mui-bar {
    background: #3598DB;
}

.mui-bar a,
.mui-bar h1,
.mui-bar span {
    color: #FFFFFF;
}

.mui-bar .mui-btn-link,
.mui-bar .mui-btn-link:active {
    color: #FFFFFF;
}

.mui-bar span.mui-icon {
    height: 44px;
    width: 32px;
    line-height: 44px;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
    transform-origin: 50%;
    font-size: 18px;
    float: right;
}

.mui-bar span.mui-icon-spinner {
    transform-origin: 50%;
    -webkit-animation: mymove 1s linear infinite;
    animation: mymove 1s linear infinite;
}

@-webkit-keyframes mymove {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

.yunyou-result {
    padding-top: 44px;
}

.yunyou-result > div {
    width: 160px;
    margin: 80px auto;
    text-align: center;
}

.yunyou-result > div > h2 {
    color: #CCCCCC;
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 40px;
}

.yunyou-result > div > span {
    color: #EEEEEE;
    font-size: 100px;
    font-weight: bold;
    background: #CCCCCC;
    border-radius: 50%;
}

.yunyou-result > div > button,
.yunyou-result > div > button:active {
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0px;
    background: #3598DB;
    color: #FFFFFF;
}

.yunyou-result-success span {
    background: #4CD964 !important;
}

.yunyou-result-success h2 {
    color: #4CD964 !important;
}

.yunyou-result-defeat span {
    background: #DD524D !important;
}

.yunyou-result-defeat h2 {
    color: #DD524D !important;
}

.yunyou-card {
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px #CCCCCC;
    background-color: #FFFFFF;
}

.yunyou-form {
    padding: 10px;
    margin-top: 44px;
}

.yunyou-form-title {
}

.yunyou-form-title h3 {
    color: #333333;
    font-size: 18px;
}

.yunyou-form-title p {
    color: #999999;
    font-size: 12px;
}

.yunyou-form-assess {
}

.yunyou-assess-star {
    height: 40px;
    padding: 8px 10px;
    color: #999999;
}

.yunyou-assess-star > .mui-icon-star-filled {
    color: #FFA500;
}

.yunyou-assess-content {
    height: 160px;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: content-box;
    border-top: 1px solid #CCCCCC;
}

.yunyou-assess-content textarea {
    margin: 0px;
    padding: 0px;
    border: none;
    height: 160px;
    color: #333333;
    font-size: 14px;
    float: left;
}

.yunyou-assess-content p {
    margin: 0px;
    font-size: 13px;
    color: #999999;
    float: right;
}

.yunyou-form-image {
}

.yunyou-form-image p {
    color: #999999;
    font-size: 14px;
}

.yunyou-form-upload {
    padding: 10px 0px 0px 10px;
    overflow: hidden;
}

.yunyou-form-upload > button {
    border: 1px dashed #999999;
    border-radius: 0px;
}

.yunyou-form-upload > button:active {
    background: none;
}

.yunyou-form-upload > button > span {
    color: #999999;
    font-size: 32px;
}

.yunyou-form-upload > button,
.yunyou-form-upload-image {
    width: 18%;
    margin: 0px 10px 10px 0px;
    position: relative;
    float: left;
}

.yunyou-form-upload-image > span {
    background: #CF2D28;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -6px;
}

.yunyou-image-pack {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.yunyou-image-pack > img {
    /*width: 100%;*/
    /*height: 100%;*/
    float: left;
}