.yunyou-home-bar {
    width: 100%;
    /*background-color: #3598DB;*/
    /*background-color: #FF7F7B;*/
    position: fixed;
    top: 0px;
}

.yunyou-top-btn button,
.yunyou-top-btn button:active {
    padding: 10px 10px 0px 10px;
    border: none;
    color: #FFFFFF;
    background: none;
}

#yunyou-href-home div {
    width: 2.4rem;
    height: 24px;
    line-height: 24px;
    display: inline-block;
}

#yunyou-href-home,
#yunyou-href-home span,
#yunyou-href-home div,
#yunyou-level-like {
    float: left;
}

#yunyou-href-set,
#yunyou-level-heart {
    float: right;
}

.yunyou-middle-img {
    clear: both;
    position: relative;
}

.yunyou-middle-img > div {
    width: 80px;
    height: 80px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin: 0 auto;
}

.yunyou-middle-img > div > img {
    height: 74px;
    width: 74px;
    border-radius: 50%;
    background: #FFFFFF;
}

.yunyou-middle-img h1 {
    color: #FFFFFF;
    height: 16px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

.yunyou-bottom-msg {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.yunyou-bottom-msg span {
    height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    float: left;
}

#yunyou-level-like {
    margin-left: 10px;
}

#yunyou-level-heart .yunyou-small-font,
#yunyou-level-like .yunyou-small-font {
    font-size: 12px;
}

#yunyou-level-heart {
    margin-right: 10px;
}

.yunyou-content {
    margin-top: 234px;
}

.yunyou-slider {
    width: 100%;
    box-shadow: 0px 2px 2px #CCCCCC;
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 187px;
}

.yunyou-slider button,
.yunyou-slider button:active,
.yunyou-page button,
.yunyou-page button:active {
    width: 50%;
    color: #333333;
    border-radius: 0px;
    padding: 8px 12px;
    background: none;
    border: none;
    float: left;
}

#yunyou-slider-bar {
    height: 3px;
    width: 50%;
    /*background-color: #3598DB;*/
    /*background-color: #FF7F7B;*/
    position: absolute;
    bottom: 0px;
}

.yunyou-item ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.yunyou-item > ul > li {
    padding: 10px;
}

.yunyou-review-header {
    margin: 0px;
    font-size: 14px;
    color: #999999;
}

.yunyou-review-header a {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

.yunyou-review-star,
.yunyou-scenery-star {
    margin-top: 8px;
    margin-bottom: 0px;
    overflow: hidden;
}

.yunyou-review-star span,
.yunyou-scenery-star span {
    padding-right: 2px;
    font-size: 18px;
    color: #CCCCCC;
    float: left;
}

.yunyou-review-star span.yunyou-active,
.yunyou-scenery-star span.yunyou-active {
    color: #ffa500;
}

.yunyou-review-article {
    margin-top: 4px;
    margin-bottom: 0px;
    color: #333333;
    font-size: 14px;
}

.yunyou-review-footer {
    margin-top: 8px;
    margin-bottom: 0px;
    color: #999999;
    font-size: 12px;
}

.yunyou-scenery-view img {
    max-width: 100%;
    height: auto;
}

.yunyou-scenery-header {
    margin-top: 4px;
    overflow: hidden;
}

.yunyou-scenery-header h3 {
    margin: 0px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.yunyou-scenery-header small {
    color: #999999;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    float: right;
}

.yunyou-scenery-footer {
    margin-top: 4px;
    overflow: hidden;
}

.yunyou-scenery-star {
    margin: 0px;
    float: left;
}

.yunyou-scenery-footer em {
    margin-left: 4px;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    float: left;
}

.yunyou-scenery-footer p {
    margin: 0px;
    color: #999999;
    font-size: 12px;
    float: right;
}

.yunyou-page,
.yunyou-item > ul > li {
    overflow: hidden;
    margin-top: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px #CCCCCC;
}

.yunyou-page {
    margin-bottom: 120px;
}

#yunyou-button-pre {
    border-right: 1px solid #CCCCCC;
}